.parent {
    margin-top: 39px;
    margin-left: 63.5px;
    width: 80%;
}

.cart-parent {
    display: flex;
    flex-direction: column;
    gap: 27px;
    margin-top: 40px;
}

.line {
    border: 1px solid rgb(241, 242, 243);
    margin-bottom: 27px;
}

.cost {
    margin-top: 29px;
}

.cost div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

span {
    color: rgb(151, 150, 161);
    font-family: var(--font);
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}

.checkout {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    font-size: var(--font);
}

@media (max-width: 867px){
    .parent {
        margin-top: 20px;
        margin-left: 0;
        width: 100%;
    }    
}
